[connection]
id=mgmt
type=ethernet
interface-name={{ mgmt_iface }}
autoconnect=true

[ethernet]

[ipv4]
address1={{ vlans.mgmt.vfw_ips[node] }}/24,10.0.99.1
dns={{ dcs.rodc.ip }};{{ dcs.secondary.ip }}
method=manual
never-default=true

[ipv6]
method=ignore
