[connection]
id={{ item.key }}
type=vlan
interface-name={{ trunk_iface }}.{{ item.value.id }}
device-name={{ trunk_iface }}
autoconnect=true

[vlan]
id={{ item.value.id }}
parent={{ trunk_iface }}

[ethernet]

[ipv4]
address1={{ item.value.vfw_ips[node] }}/{{ (item.value.cidr | split("/"))[1] }}
{% if item.key == "core" %}
dns={{ dcs.rodc.ip }}
{% endif %}
method=manual

[ipv6]
method=ignore
{% if item.value.default_route | default(false) %}

[Route]
Destination=0.0.0.0/0
Gateway={{ item.value.other_end }}
Metric=10
{% endif %}
