{% for collector in components.analysis.syslog_collectors %}
action(
  type="omfwd"
  name="{{ collector.name }}"
  target="{{ collector.name }}"
  port="6514"
  protocol="tcp"
  streamDriver="ossl"
  streamDriverMode="1"
  streamDriverAuthMode="x509/name"
  streamDriver.CaFile="{{ enterprise_ca_path }}"
  action.resumeRetryCount="-1"
  queue.type="linkedList"
  queue.filename="{{ collector.name }}_primary_q"
)

{% endfor %}
{% for item in monitored_paths %}
input(
  type="imfile"
  File="{{ item.path }}"
  Tag="{{ item.tag }}"
  Severity="{{ item.severity | default('info') }}"
  Facility="{{ item.facility | default('local0') }}"
)
{% endfor %}