{
  email {{ contact_email }}
  storage file_system {{ node_a_path }}
  log {
    output file /var/log/caddy.log
  }
}

(logging) {
  log {
    output file /var/log/caddy-access.log
  }
}

observer.indef.space {
{% if cert_type == "passive" %}
  tls {{ node_b_path }}/observer.indef.space.crt {{ node_b_path }}/observer.indef.space.key
{% endif %}
  import logging
  reverse_proxy observer.primary.ops.indef.space
}
