# NFT Rules for the Git Subsystem
## Inter-VLAN traffic only

## Gitstrap
### Core Services VLAN: ALLOW TCP 22 mgmt_pi -> gitstrap
#### Core Services Inbound
add rule inet filter fwd_v{{ vlans.core.id }} oifname {{ trunk_iface }}.{{ vlans.core.id }} ip saddr {{ mgmt_pi.ip }} ip daddr {{ git.gitstrap.ip }} tcp dport 22 accept
#### Mgmt Outbound
add rule inet filter fwd_v{{ vlans.mgmt.id }} oifname {{ trunk_iface }}.{{ vlans.mgmt.id }} ip saddr {{ mgmt_pi.ip }} ip daddr {{ git.gitstrap.ip }} tcp dport 22 accept

## GitLab
